<div ng-controller="LoginCtrl" class="row-fluid">
<div class="row-fluid">
  <form class="span10 offset2" ng-controller="LoginCtrl" ng-submit="login()">
      <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
      <img src="img/p2p_logo.jpg" class="img-polaroid" width="120" height="120"/></img>
      <h1>P2P QnA</h1>

      <label class="control-label" for="inputUsername">Username</label>
      <input ng-model="user.username" type="text" id="inputUsername" placeholder="Username">

      <label class="control-label" for="inputPassword">Password</label>
      <input ng-model="user.password" type="password" id="inputPassword" placeholder="Password">

      <label class="checkbox">
          <input type="checkbox"> Remember me
      </label>

      <button type="submit" ng-click='goNext("/questions")' class="btn btn-success">Login</button>

      <button type="create" ng-click='goNext("/register")' class="btn btn-info">Create Account</button>

      <br>
      <a href="#">(Forgot Your Password)</a>
  </form>
</div>
