<!-- <div ng-controller="ButtonsCtrl" class="row-fluid"> -->
<div align="center" ng-controller="ProfileCtrl" class="row-fluid">
  <h3>My Profile</h3>
</div>
<p>

  <div align="center">
    <div class="row">
      <div class="span2">
        <img src="img/profile_photo.jpg" alt="img/default_photo.jpg" width="70" height="150"  class="img-thumbnail">
      </div>
      <div class="span2">
        <h4>{{user.username}}</h4>
      </div>
    </div>
  </div>
  
  <p>

  <ul class="nav nav-pills nav-stacked">
  <li class="active">
    <a href="#">
      <span class="badge pull-right">{{user.points}}</span>
      Points
    </a>
  </li>

   <li class="active">
    <a href="#/myQns">
      <span class="badge pull-right">{{user.number_of_questions}} Questions Asked</span>
      My Questions
    </a>
  </li>

   <li class="active">
    <a href="#/myAns">
      <span class="badge pull-right">{{user.number_of_answers}} Questions Answered</span>
      My Answers
    </a>
  </li>

<!-- </div> -->
