<div ng-controller="QuestionDetailCtrl">
    <div class="row-fluid">
            <div class="span2 muted text-center">
                <i class="icon-arrow-up"></i>
                <br>
                <bold>{{question.votes}}</bold>
                <br>
                <i class="icon-arrow-down"></i>
                <br>
                <i class="icon-star"></i>
            </div>
            <div class="span10">
                <strong>{{question.title}}</strong>
                <p>
                    <span ng-repeat="tag in question.tags">
                        <span class="badge">{{tag}}</span>
                    </span>
                </p>
            </div>

    </div>
    <div class="row-fluid">
            <div class="span12">
                <p>
                    {{question.text}}
                </p>
            </div>
    </div>
    <div class="row-fluid">
            <div class="span4 text-center">
                <strong>Your Answer</strong>
            </div>
            <div class="span8 text-left">
                <textarea rows="3"></textarea>
            </div>
    </div>
    <button class="btn">Post Your Answer</button>
</div>
