<div ng-controller="MyQnsCtrl">
<p align="center"><b>Questions I Asked</b></p>
        <div class="row-fluid" ng-repeat="item in items">
            <div class="span2 offset1 muted text-center">
                <bold>{{item.votes}}</bold>
                <p>votes</p>
                <bold>{{item.answers}}</bold>
                <p>answers</p>
            </div>
            <div class="span9">
                <a href="#/questions/{{item.id}}"><strong>{{item.snippet}}</strong></a>
                <p>
                    <span ng-repeat="tag in item.tags">
                        <span class="badge">{{tag}}</span>
                    </span>
                </p>
                <p class="muted">
                    Posted on: {{item.posted-epoch-time | date:'short'}}
                    by <a href="#">{{item.submitter}}</a>
                </p>
                <hr></hr>
            </div>

        </div>
</div>
