<div ng-controller="QuestionDetailCtrl">
        <div class="row-fluid" ng-repeat="question in questions">
            <div class="span2 muted text-center">
                <bold>{{question.votes}}</bold>
                <p>votes</p>
                <bold>{{question.answers}}</bold>
                <p>awnsers</p>
            </div>
            <div class="span10">
                <a href="#/questions/{{question.id}}"><strong>{{question.question}}</strong></a>
                <p>{{question.snippet}}</p>
                <span ng-repeat="badge in question.badges">
                    <span class="badge">{{badge}}</span>
                </span>
                <p class="muted">
                    {{question.age}} minutes ago
                    <a href="#">{{question.submitter}}</a>
                </p>
                <hr></hr>
            </div>

        </div>
</div>
