<div ng-controller="QuestionDetailCtrl">
    <div class="row-fluid">
            <uservote class='span2 offset1' data="question.votes"></uservote>
            <div class="span9">
                <strong>{{question.title}}</strong>
                <p>
                    <span ng-repeat="tag in question.tags">
                        <span class="badge">{{tag}}</span>
                    </span>
                </p>
                <p>{{question.detailed}}</p>
            </div>
    </div>
    <div class="row-fluid" ng-repeat="answer in question.answers">
        <hr>
        <uservote class='span2 offset1' data="answer.votes"></uservote>
        <div class='span9 text-center'>
            <p>{{answer.answer}}</p>
        </div>
    </div>
    <form novalidate class="css-form" ng-submit="addAns()">
        <div class="row-fluid">
            <div class="span4 text-center">
                <strong>Your Answer</strong>
            </div>
            <div class="span8 text-left">
                <textarea ng-model="answer.answer"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Post Your Answer</button>
    </form>
</div>
