<div ng-controller="OtherAnsCtrl">
<h3 align="center">My Answers</h3>
        <div class="row-fluid" ng-repeat="answer in answers">
            <div class="span2 offset1 muted text-center">
                <bold>{{answer.votes}}</bold>
                <p>votes</p>
                <bold>{{answer.answers}}</bold>
                <p>answers</p>
            </div>
            <div class="span9">
                <a href="#/questions/{{answer.id}}"><strong>{{answer.snippet}}</strong></a>
                <p>
                    <span ng-repeat="tag in answer.tags">
                        <span class="badge">{{tag}}</span>
                    </span>
                </p>
                <p class="muted">
                    Posted on: {{answer.posted-epoch-time | date:'short'}}
                    by <a href="#">{{answer.submitter}}</a>
                </p>
                <hr></hr>
            </div>

        </div>
</div>
