<div class="row-fluid">
    <div class="span11 offset1">
        <form ng-controller="QuestionAskCtrl" ng-submit="addQuestion()">
            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
            <label>Title</label>
            <input type="text" id="title" ng-model="question.title" required/>
            <label>What Is Your Question?</label>
            <textarea rows=10 id="content" ng-model="question.detailed"></textarea>
            <label>Tags</label>
            <input type="text" id="tags" ng-model="question.tags" required/>
            <p>
                <button type="submit" class="btn btn-primary" ng-click='goNext("/myQns")'>Submit</button>
                <button type="reset" class="btn btn-primary">Clear</button>
            </p>
        </form>
    </div>
</div>
