<div ng-controller="RegisterCtrl">
<form novalidate class="css-form" ng-submit="addUser()">
        <div>Name: </div><input type="text" ng-model="user.username" required /><br />
        <div>E-mail: </div><input type="email" ng-model="user.email" required /><br />
		<div>Password: </div><input type="password" ng-model="user.password" required /><br />
		<p align="center">Are You Above 13? <input type="checkbox" ng-model="user.age"/><br />

		<br />
		<div><p align="center">
		<button type="submit" class="btn btn-primary" ng-model="singleModel" ng-click='goNext("/login")'>Submit</button>
		<button type="reset" class="btn btn-primary" ng-model="singleModel">Clear</button>
		</p>
		</div>
      </form>
</div>
